
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh; /* Висота всього екрану */
    margin-right: 30px;
}

.sidebar {
    width: 200px; /* Фіксована ширина сайдбару */
    background-color: #ecf00d;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    flex-grow: 1; /* Займає весь доступний простір */
    display: flex;
    flex-direction: column;
}

.header {
    height: 100px; /* Фіксована висота */
    background-color: #0084ff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    flex-grow: 1; /* Займає весь доступний простір між хедером і футером */
    background-color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    height: 100px; /* Фіксована висота */
    background-color: #0084ff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
